body {
  font-family: Arial, sans-serif;
  background-color: #020617;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 12px auto;
  border-radius: 10px;
  width: 260px;
}

.card p {
  color: #94a3b8;
  margin: 0;
}

.card h2 {
  font-size: 40px;
  margin-top: 10px;
}

.highscore {
  background: #14532d;
}